<!-- ============================================ -->
<!--                    CTA                       -->
<!-- ============================================ -->

<section id="cta-262">
    <div class="cs-container">
        <div class="cs-left-section">
            <h2 class="cs-title">Start Your Energy Transition Today</h2>
            <a href="/contact" class="cs-button-solid">Contact Us Now</a>
        </div>
        <div class="cs-content">
            <span class="cs-header">Available Hours</span>
            <p class="cs-p">
                Tuesday, Thursday, Friday: 9am-6pm<br>
                ​(closed for lunch 12pm-2pm)
            </p>
            <p class="cs-p">
                Appointments Preferred, Walk-Ins Welcome.<br>
                Saturdays by Appointment Only.
            </p>
        </div>
        <picture class="cs-background">
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/CTA/cloth-m.jpg">
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/CTA/cloth.jpg">
            <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/CTA/cloth.jpg" alt="appliance" width="275" height="132">
        </picture>
    </div>
</section>
