---
title: 'Our Process'
description: 'Our Process at Domus Zero'
preloadImg: '/assets/images/imagename.format'
permalink: 'our-process/'
---

    {% extends "layouts/base.html" %}

    {% block head %}
        <link rel="stylesheet" href="/assets/css/process.css">
    {% endblock %}

    {% block body %}
        <!-- ============================================ -->
        <!--                    LANDING                   -->
        <!-- ============================================ -->

        <section id="int-hero">
            <h1 id="home-h">Our Process</h1>
            <picture>
                <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
                <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
            </picture>

        </section>

        <!-- ============================================ -->
        <!--                  Our Process                 -->
        <!-- ============================================ -->

        <section id="why-choose-1662">
            <div class="cs-container">
                <div class="cs-content">
                    <span class="cs-topper">Our Process</span>
                    <h2 class="cs-title">Turn Your Home Sustainable in Mere Weeks</h2>
                </div>
                <div class="cs-wrapper">
                    <ul class="cs-card-group">
                        <li class="cs-item">
                            <span class="cs-item-number">01</span>
                            <div class="cs-item-wrapper">
                                <h3 class="cs-h3">
                                    Discovery Call
                                </h3>
                                <p class="cs-item-text">
                                    Optio amet a quisquam saepe aliquid, voluptate praesentium dicta.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <span class="cs-item-number">02</span>
                            <div class="cs-item-wrapper">
                                <h3 class="cs-h3">
                                    Research Property-Specific Technical Specifications
                                </h3>
                                <p class="cs-item-text">
                                    We communicate with your Comune and local electricty provider about the technical feasibility of your property's energy transition.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <span class="cs-item-number">03</span>
                            <div class="cs-item-wrapper">
                                <h3 class="cs-h3">
                                    Tailored solution
                                </h3>
                                <p class="cs-item-text">
                                    Meet to explain challenges and opportunities of your property-specific switch to green energy.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <span class="cs-item-number">04</span>
                            <div class="cs-item-wrapper">
                                <h3 class="cs-h3">
                                    High Quality Installation
                                </h3>
                                <p class="cs-item-text">
                                    High quality installation of integrated solar panel and heat pump solution all with minimum disruption to your home.
                                </p>
                            </div>
                        </li>
                    </ul>
                    <ul class="cs-card-group">
                        <li class="cs-item">
                            <span class="cs-item-number">05</span>
                            <div class="cs-item-wrapper">
                                <h3 class="cs-h3">
                                    Hand Over
                                </h3>
                                <p class="cs-item-text">
                                    Final hand over of property-specific sustainable solution with 0% usage of fossil fuels.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <span class="cs-item-number">06</span>
                            <div class="cs-item-wrapper">
                                <h3 class="cs-h3">
                                    Support
                                </h3>
                                <p class="cs-item-text">
                                    Post-realization support as needed.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <!---SVG Graphic-->
                <img class="cs-floater" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/diagnol-ovals.svg" alt="graphic" loading="lazy" decoding="async" height="710" aria-hidden="true" width="690">
            </div>
        </section>

    {% endblock %}