---
title: 'Domus Zero'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-856">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Making Your Home Sustainable</span>
            <h1 class="cs-title">Domus Zero</h1>
            <p class="cs-text">
                Accelerating the energy transition for private homes in Italy based on decentralized solar and heat pump installations.
            </p>
            <a href="/contact" class="cs-button-solid">Schedule An Appointment</a>
        </div>
        <!--Hero Image-->
        <picture class="cs-picture">
            <!--Mobile-->
            <source media="(max-width: 600px)" srcset="./assets/images/tempAddOns/pexels-singkham-1108572.jpg">
            <!--Tablet-->
            <source media="(min-width: 601px)" srcset="./assets/images/tempAddOns/pexels-singkham-1108572.jpg">
            <!--Desktop-->
            <source media="(min-width: 1024px)" srcset="./assets/images/tempAddOns/pexels-singkham-1108572.jpg">
            <img aria-hidden="true" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy.jpg" alt="therapy" width="570" height="701">
        </picture>
    </div>
    <!--Change the svg path fill color to whatever color the section below is so you can match it and create the illusion it is all one piece-->
    <svg class="cs-wave" width="1920" height="179" viewBox="0 0 1920 179" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M1920 179V91.3463C1835.33 91.3463 1715.47 76.615 1549.2 32.9521C1299.48 -32.3214 1132.77 12.1006 947.32 61.5167C810.762 97.9044 664.042 137 466.533 137C331.607 137 256.468 123.447 188.082 111.113C130.974 100.812 78.5746 91.3609 0 91.3609V179H1920Z" fill="white"/>
    </svg>
</section>

<!-- ============================================ -->
<!--            Side By Side - About Us           -->
<!-- ============================================ -->

<section id="sbs">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-left">
            <picture class="cs-picture cs-picture1">
                <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/tempAddOns/pexels-kindel-media-9875445.jpg">
                <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="cabinets" loading="lazy" width="400" height="563">
            </picture>
            <picture class="cs-picture cs-picture2">
                <source media="(max-width: 600px)" srcset="/assets/images/construction-m.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/tempAddOns/pexels-alejandro-henriquez-19151997.jpg">
                <img aria-hidden="true" decoding="async" src="/assets/images/construction.jpg" alt="house" loading="lazy" width="400" height="563">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-right">
            <span class="cs-topper">About Us</span>
            <h2 class="cs-title">About Domus Zero</h2>
            <p class="cs-text">
                We focus on private home sustainability in Italy.
                We transform private homes to no longer rely on fossil fuels.
            </p>
            <p class="cs-text">
                Our private home energy transition removes the reliance on fossil fuels while also reducing energy costs.
            </p>
            <a href="/projects" class="cs-button-solid">Our Projects</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--            Side By Side Reverse              -->
<!-- ============================================ -->

<section id="sbs-r-869">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Right Image-->
            <picture class="cs-right-img">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="./assets/images/tempAddOns/pexels-thirdman-7656332.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="./assets/images/tempAddOns/pexels-thirdman-7656332.jpg">
                <img loading="lazy" decoding="async" src="./assets/images/tempAddOns/pexels-thirdman-7656332.jpg" alt="therapy" width="439" height="560">
            </picture>
            <!--Left Image-->
            <picture class="cs-left-img">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy6.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy6.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy6.jpg" alt="therapy" width="439" height="560">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">Our Services</span>
            <h2 class="cs-title">Our All-Inclusive Service</h2>
            <p class="cs-text">
                We offer an all-inclusive
            </p>
            <ul class="cs-ul">
                <li class="cs-li">
                    Integrated solar and heat pump installations
                </li>
                <li class="cs-li">
                    High quality and efficient equipment
                </li>
                <li class="cs-li">
                    Disposal of old heating system, planning, government subsidies, installation, regular service of installed system
                </li>
                <li class="cs-li">
                    From first discussion to completed installation in only a few weeks
                </li>
                <li class="cs-li">
                    Carefree transition to a sustainable home with attractive return on investment and minimized disruption
                </li>
                <li class="cs-li">
                    Proactively collaborate with your Comune and local electricity provider to propose viable sustainable solutions for your home
                </li>
                <li class="cs-li">
                    Focus on the minimization of disruption for our
                    customers during the implementation

                </li>
            </ul>
            <a href="/contact" class="cs-button-solid">Schedule An Appointment</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                    Services                  -->
<!-- ============================================ -->

<section id="services-1354">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Services</span>
            <h2 class="cs-title">We’re Committed to Deliver High Quality Services</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3"><span class="cs-span">Integrated </span> Solar and Heat Pump Installation</h3>
                </a>
                <picture class="cs-background">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting1.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting1.jpg">
                    <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting1.jpg" alt="construction" width="305" height="305" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3"><span class="cs-span">High Quality and Efficient Equipment</span></h3>
                </a>
                <picture class="cs-background">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting2.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting2.jpg">
                    <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting2.jpg" alt="construction" width="305" height="305" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3"><span class="cs-span">All-Inclusive</span> Pricing</h3>
                </a>
                <picture class="cs-background">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting3.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting3.jpg">
                    <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting3.jpg" alt="construction" width="305" height="305" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3"><span class="cs-span">Lifetime</span> Maintenance</h3>
                </a>
                <picture class="cs-background">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting4.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting4.jpg">
                    <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting4.jpg" alt="construction" width="305" height="305" aria-hidden="true">
                </picture>
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--                 Why Choose Us                   -->
<!-- ============================================ -->

<section id="why-choose-289">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Why Choose Us</span>
                <h2 class="cs-title">The Most Reliable Switch to a Sustainable Home</h2>
            </div>
            <p class="cs-text">
                We have experience from hundreds of successfully installed sustainability projects.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Why-Choose/award.svg" alt="icon" width="48" height="48">
                <h3 class="cs-h3">All-Inclusive Service</h3>
                <p class="cs-item-text">
                    We plan with your Comune and local electricty provider, maximize government subsidies, dispose of the old heating system, install a fully-integrated sustainable system, and carry out regular servicing.
                </p>
            </li>
            <li class="cs-item">
                <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Why-Choose/sheild-black.svg" alt="icon" width="40" height="48">
                <h3 class="cs-h3">Carefree transition</h3>
                <p class="cs-item-text">
                    We take care of all the details, so you don't have to. Switch to a sustainable home with minimal disruption to your daily life.
                </p>
            </li>
            <li class="cs-item">
                <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Why-Choose/call.svg" alt="icon" width="48" height="48">
                <h3 class="cs-h3">Accomplished in Weeks</h3>
                <p class="cs-item-text">
                    From our first discussion to the completed installation in a matter of weeks.
                </p>
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--                  Our Process                 -->
<!-- ============================================ -->

<section id="why-choose-1662">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Process</span>
            <h2 class="cs-title">Turn Your Home Sustainable in Mere Weeks</h2>
        </div>
        <div class="cs-wrapper">
            <ul class="cs-card-group">
                <li class="cs-item">
                    <span class="cs-item-number">01</span>
                    <div class="cs-item-wrapper">
                        <h3 class="cs-h3">
                            Discovery Call
                        </h3>
                        <p class="cs-item-text">
                            Optio amet a quisquam saepe aliquid, voluptate praesentium dicta.
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <span class="cs-item-number">02</span>
                    <div class="cs-item-wrapper">
                        <h3 class="cs-h3">
                            Research Property-Specific Technical Specifications
                        </h3>
                        <p class="cs-item-text">
                            We communicate with your Comune and local electricty provider about the technical feasibility of your property's energy transition.
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <span class="cs-item-number">03</span>
                    <div class="cs-item-wrapper">
                        <h3 class="cs-h3">
                            Tailored solution
                        </h3>
                        <p class="cs-item-text">
                            Meet to explain challenges and opportunities of your property-specific switch to green energy.
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <span class="cs-item-number">04</span>
                    <div class="cs-item-wrapper">
                        <h3 class="cs-h3">
                            High Quality Installation
                        </h3>
                        <p class="cs-item-text">
                            High quality installation of integrated solar panel and heat pump solution all with minimum disruption to your home.
                        </p>
                    </div>
                </li>
            </ul>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <span class="cs-item-number">05</span>
                    <div class="cs-item-wrapper">
                        <h3 class="cs-h3">
                            Hand Over
                        </h3>
                        <p class="cs-item-text">
                            Final hand over of property-specific sustainable solution with 0% usage of fossil fuels.
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <span class="cs-item-number">06</span>
                    <div class="cs-item-wrapper">
                        <h3 class="cs-h3">
                            Support
                        </h3>
                        <p class="cs-item-text">
                            Post-realization support as needed.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <!---SVG Graphic-->
        <img class="cs-floater" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/diagnol-ovals.svg" alt="graphic" loading="lazy" decoding="async" height="710" aria-hidden="true" width="690">
    </div>
</section>


{% include 'components/cta.html' %}
{% endblock %}